.body {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 80%);
  z-index: 1;
  border-right: 1px solid #e2e3e6;
  background-color: #f8f8f9;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.workspaceInfo {
  height: 8rem;
  padding: 1rem;
  border-bottom: 1px solid #e2e3e6;
}

.info {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #e2e3e6;
  border-radius: .9rem;
  display: flex;
  padding: .5rem;
  align-items: center;
}

.nameBox {
  padding-left: .5rem;
}

.photoBox {
  height: 100%;
  width: 4rem;
  border: none;
  border-radius: .5rem;
}

.photoBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.name {
  font-weight: 400;
}

.label {
  font-weight: 300;
  color: #8f8f93;
}

.navSection {
  padding: 1.5rem;
}

.navSection * {
  color: #89909c;
}

.bottom {
  padding: 1.5rem;
  color: #89909c;
}

.personalInfo {
  height: 2.7rem;
}

.avatarBox {
  height: inherit;
  border-radius: 50%;
}

.avatarBox img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}